<?xml version='1.0' encoding='utf-8'?>
<odoo>
  <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
  <menuitem id="sulut_menu_root" name="2024" sequence="1"/>
  <!-- This Menu Item Must have a parent -->
  <menuitem id="pendapatan_categ" name="Data Pendatapan" parent="sulut_menu_root" sequence="1"/>
  <menuitem id="belanja_categ" name="Data Belanja" parent="sulut_menu_root" sequence="2"/>
  <menuitem id="data_penting_categ" name="Data Penting" parent="sulut_menu_root" sequence="3"/>
  <menuitem id="sk_berjalan_menu_act" name="SK Berproses" parent="sulut_menu_root" sequence="4"/>
  <menuitem id="config_menu_categ" name="Master Data" parent="sulut_menu_root" sequence="99"/>
</odoo>